<form class="contenedor" [formGroup]="formCreate" #htmlFormCreate="ngForm" >
  <section>
    <h2 class="titulo">Create Customer</h2>
  
    <mat-checkbox class="check" [checked]="selectedCheck === 1" (change)="chkCustomer($event)">Customer</mat-checkbox>
    <mat-checkbox class="check" [checked]="selectedCheck === 0" (change)="chkProspect($event)">Prospect</mat-checkbox> 
    <mat-error class="error-message" *ngIf="!isChecked">Is required</mat-error>
 
  </section>

  <table class="conterTable" cellspacing="0">
    <tr>
      <td>
        <!-- Rut  -->
        <mat-form-field appearance="fill">
          <mat-label>National ID Number</mat-label>
          <input matInput #input maxlength="9" placeholder="" formControlName="rut" required
            (blur)="onBlurRut($event)" />
          <mat-error *ngFor="let validation of validation_messages.rut">
            <mat-error class="error-message" *ngIf="
                formCreate.get('rut')?.hasError(validation.type) &&
                (formCreate.get('rut')?.dirty || formCreate.get('rut')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>
        <!-- Nombre-Apellidos  -->
        <mat-form-field appearance="fill" style="width: 300px !important">
          <mat-label>Name</mat-label>
          <input matInput #input minlength="2" formControlName="name" required />
          <mat-error *ngFor="let validation of validation_messages.name">
            <mat-error class="error-message" *ngIf="
                formCreate.get('name')?.hasError(validation.type) &&
                (formCreate.get('name')?.dirty ||
                  formCreate.get('name')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="apellidos">
          <mat-label>Family First Name</mat-label>
          <input matInput #input minlength="2" formControlName="firstName" required />
          <mat-error *ngFor="let validation of validation_messages.firstName">
            <mat-error class="error-message" *ngIf="
                formCreate.get('firstName')?.hasError(validation.type) &&
                (formCreate.get('firstName')?.dirty ||
                  formCreate.get('firstName')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="apellidos">
          <mat-label>Family Second Name</mat-label>
          <input matInput #input minlength="2" formControlName="secondName" />
          <mat-error *ngFor="let validation of validation_messages.secondName">
            <mat-error class="error-message" *ngIf="
                formCreate.get('secondName')?.hasError(validation.type) &&
                (formCreate.get('secondName')?.dirty ||
                  formCreate.get('secondName')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="conterTable" cellspacing="0">
    <tr>
      <td>
        <!-- Date  -->
        <mat-form-field appearance="fill" class="date">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" required readonly formControlName="dateOfBirth" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.dateOfBirth">
            <mat-error class="error-message" *ngIf="
                formCreate.get('dateOfBirth')?.hasError(validation.type) &&
                (formCreate.get('dateOfBirth')?.dirty ||
                  formCreate.get('dateOfBirth')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- Country Birth -->
        <mat-form-field appearance="fill">
          <mat-label>Country of Birth</mat-label>
          <mat-select required formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country.id">
              {{ country.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.country">
            <mat-error class="error-message" *ngIf="
                formCreate.get('country')?.hasError(validation.type) &&
                (formCreate.get('country')?.dirty ||
                  formCreate.get('country')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- Nacionality  -->
        <!--  <mat-form-field class="chip-list" appearance="fill">
          <mat-label>Nationality</mat-label>
          <mat-chip-list #chipList [formControl]="nacionalidadCtrl" required>
            <mat-chip
              *ngFor="let nacionalidad of nacionalidades"
              (removed)="remove(nacionalidad)"
              [selectable]="true"
            >
              {{ nacionalidad }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
            
              #NacionalidadInput
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"
              [formControl]="nacionalidadCtrl"
            />
          </mat-chip-list>
          
          <mat-autocomplete 
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option
              *ngFor="let nacionalidad of filteredNacionalidad | async"
              [value]="nacionalidad"
            >
              {{ nacionalidad }}
            </mat-option>
          </mat-autocomplete>
          <mat-error>Prueba Required</mat-error>
        <!--   <mat-error *ngFor="let validation of validation_messages.nationality">
            <mat-error
              class="error-message"
              *ngIf="
                formCreate.get('nationality')?.hasError(validation.type) &&
                (formCreate.get('nationality')?.dirty ||
                  formCreate.get('nationality')?.touched)
              "
              >{{ validation.message }}
            </mat-error>
          </mat-error> </mat-form-field> -->

        <!-- Nacionality  -->
        <mat-form-field appearance="fill">
          <mat-label>Nacionality</mat-label>
          <mat-select required formControlName="nacionalidad">
            <mat-option *ngFor="let nationality of nationalities" [value]="nationality.id">
              {{ nationality.glosa }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.nacionalidad">
            <mat-error class="error-message" *ngIf="
                formCreate.get('nacionalidad')?.hasError(validation.type) &&
                (formCreate.get('nacionalidad')?.dirty ||
                  formCreate.get('nacionalidad')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- Gender  -->
        <mat-form-field class="gender" appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-select required formControlName="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.id">
              {{ gender.glosa }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.gender">
            <mat-error class="error-message" *ngIf="
                formCreate.get('gender')?.hasError(validation.type) &&
                (formCreate.get('gender')?.dirty ||
                  formCreate.get('gender')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="conterTable">
    <tr>
      <td>
        <!-- Email -->
        <mat-form-field class="email" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="user@example.com" formControlName="email" required />
          <mat-error *ngFor="let validation of validation_messages.email">
            <mat-error class="error-message" *ngIf="
                formCreate.get('email')?.hasError(validation.type) &&
                (formCreate.get('email')?.dirty ||
                  formCreate.get('email')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- Mobile Number -->
        <mat-form-field appearance="fill" class="code">
          <mat-label>Code</mat-label>
          <mat-select required formControlName="codeMobile">
            <mat-option *ngFor="let code of countries" [value]="code.id">
              {{ code.code + " (" + code.name + ")" }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.codeMobile">
            <mat-error class="error-message" *ngIf="
                formCreate.get('codeMobile')?.hasError(validation.type) &&
                (formCreate.get('codeMobile')?.dirty ||
                  formCreate.get('codeMobile')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mobile Number</mat-label>
          <input matInput #input maxlength="11" formControlName="mobileNumber" required />
          <mat-error *ngFor="let validation of validation_messages.mobileNumber">
            <mat-error class="error-message" *ngIf="
                formCreate.get('mobileNumber')?.hasError(validation.type) &&
                (formCreate.get('mobileNumber')?.dirty ||
                  formCreate.get('mobileNumber')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- Fix Phone -->
        <mat-form-field appearance="fill" class="code">
          <mat-label>Code</mat-label>
          <mat-select formControlName="codefix">
            <mat-option *ngFor="let code of countries" [value]="code.id">
              {{ code.code + " (" + code.name + ")" }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.codefix">
            <mat-error class="error-message" *ngIf="
                formCreate.get('codefix')?.hasError(validation.type) &&
                (formCreate.get('codefix')?.dirty ||
                  formCreate.get('codefix')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fix Telephone Number</mat-label>
          <input matInput #input maxlength="11" formControlName="fixNumber" />
          <mat-error *ngFor="let validation of validation_messages.fixNumber">
            <mat-error class="error-message" *ngIf="
                formCreate.get('fixNumber')?.hasError(validation.type) &&
                (formCreate.get('fixNumber')?.dirty ||
                  formCreate.get('fixNumber')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <!-- Address of Residency  -->
  <mat-divider class="lineaTable"></mat-divider>
  <table class="conterTable" cellspacing="0">
    <tr>
      <td>
        <!-- Country  -->
        <mat-form-field appearance="fill">
          <mat-label>Country</mat-label>
          <mat-select required formControlName="countries" (selectionChange)="select($event)">
            <mat-option *ngFor="let country of countries" [value]="country.id">
              {{ country.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.countries">
            <mat-error class="error-message" *ngIf="
                formCreate.get('countries')?.hasError(validation.type) &&
                (formCreate.get('countries')?.dirty ||
                  formCreate.get('countries')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- City  -->
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <input matInput #input minlength="2" formControlName="city" required />
          <mat-error *ngFor="let validation of validation_messages.city">
            <mat-error class="error-message" *ngIf="
                formCreate.get('city')?.hasError(validation.type) &&
                (formCreate.get('city')?.dirty ||
                  formCreate.get('city')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- 
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <mat-select required formControlName="city">
            <mat-option value="option">Stgo</mat-option>
            <mat-option value="option">Prov</mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.city">
            <mat-error
              class="error-message"
              *ngIf="
                formCreate.get('city')?.hasError(validation.type) &&
                (formCreate.get('city')?.dirty ||
                  formCreate.get('city')?.touched)
              "
              >{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" [hidden]="selectedFilter == '1'">
          <mat-label>Commune</mat-label>
          <mat-select required>
            <mat-option value="option">Stgo</mat-option>
            <mat-option value="option">Prov</mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field appearance="fill" [hidden]="selectedFilter == '1'">
          <mat-label>Commune</mat-label>
          <input matInput #input minlength="2" formControlName="commune" />
          <mat-error *ngFor="let validation of validation_messages.commune">
            <mat-error class="error-message" *ngIf="
                formCreate.get('commune')?.hasError(validation.type) &&
                (formCreate.get('commune')?.dirty ||
                  formCreate.get('commune')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [hidden]="selectedFilter == '0'">
          <mat-label>Postal Code</mat-label>
          <input matInput #input minlength="2" formControlName="postalcode" />
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="conterTable">
    <tr>
      <td>
        <!-- Street Name  -->
        <mat-form-field appearance="fill" class="adicional">
          <mat-label>Street Name</mat-label>
          <input matInput #input minlength="2" formControlName="streetName" required />
          <mat-error *ngFor="let validation of validation_messages.streetName">
            <mat-error class="error-message" *ngIf="
                formCreate.get('streetName')?.hasError(validation.type) &&
                (formCreate.get('streetName')?.dirty ||
                  formCreate.get('streetName')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- Number  -->
        <mat-form-field appearance="fill" class="code">
          <mat-label>Number</mat-label>
          <input matInput #input minlength="2" formControlName="number" required />
          <mat-error *ngFor="let validation of validation_messages.number">
            <mat-error class="error-message" *ngIf="
                formCreate.get('number')?.hasError(validation.type) &&
                (formCreate.get('number')?.dirty ||
                  formCreate.get('number')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <!-- Adicional  -->

        <mat-form-field appearance="fill" class="adicional">
          <mat-label>Adicional</mat-label>
          <input matInput #input maxlength="50" formControlName="adicional" />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <!-- Currency  -->
  <mat-divider class="lineaTable"></mat-divider>
  <table class="conterTable" cellspacing="0">
    <h2 class="subTitulo">Monthy Income</h2>
    <tr>
      <td>
        <!-- Currency  -->
        <mat-form-field appearance="fill">
          <mat-label>Currency</mat-label>
          <mat-select required formControlName="currency">
            <mat-option *ngFor="let currency of currencies" [value]="currency.id">
              {{ currency.glosa }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.currency">
            <mat-error class="error-message" *ngIf="
                formCreate.get('currency')?.hasError(validation.type) &&
                (formCreate.get('currency')?.dirty ||
                  formCreate.get('currency')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput #input minlength="4" formControlName="monthyIncome" required />

          <mat-error *ngFor="let validation of validation_messages.monthyIncome">
            <mat-error class="error-message" *ngIf="
                formCreate.get('monthyIncome')?.hasError(validation.type) &&
                (formCreate.get('monthyIncome')?.dirty ||
                  formCreate.get('monthyIncome')?.touched)
              ">{{ validation.message }}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <section class="sectionBtn">
    <button mat-raised-button (click)="btnCreateCustomer()" class="btnPrincipal">
      Create
    </button>
    <button mat-raised-button class="btnPrincipal" (click)="btnCancel()">Cancel</button>
    <button mat-raised-button class="btnPrincipal" (click)="btnHome()">
      Home
    </button>
  </section>
</form>