<div>
    <div>
        <nav id="bgColorNav" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/src/app/login/login-page/login-page.component.html">
                    <img src="/assets/img/logo2.png" alt="logoMC" width="40" height="30" class="d-inline-block align-text-top"> Customers Service
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/src/app/login/login-page/login-page.component.html">Login</a>
                        </li>                       
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>