.btnPrincipal {
    font-size: 14px;
    background-color: #53a2da;
    color: white;
    border-radius: 0.5rem;
    border-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
    width: 100px;
    margin: 10px;
    height: 40px;
}

hr {
    background-color: #53a2da;
}