.contenedor {
    margin: 1rem auto;
    padding: 4rem;
    background-color: white;
}

.mat-card-customer {
    max-width: 350px;
    margin: 10px;
}

.mat-card-title {
    font-size: 25px;
    justify-content: center;
    display: flex;
}

.mat-card-subtitle {
    font-size: 15px;
}

.card-container {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: block;
}