<!-- <div class="container py-5 h-100">
    <h2 class="fw-bold mb-2 text-uppercase">Bienvenido</h2>
    <label class="form-label">{{nombre}}</label>
</div> -->
<div class="container contenedor">
    <div class="">
        <button class="btn btn-primary">
            Create
        </button>
        <button class="btn btn-primary">
            View
        </button>
        <button class="btn btn-primary" *ngIf="this.rol == 2">
            Update
        </button>
    </div>
</div>

<!-- <app-list-customer></app-list-customer> -->