.contenedor {
    max-width: 100%;
    margin: 1rem auto;
    padding: 4rem;
    background-color: white;
}

.mat-card-customer {
    max-width: 350px;
    margin: 10px;
}

.mat-card-title {
    font-size: 25px;
    justify-content: center;
    display: flex;
}

.mat-card-subtitle {
    font-size: 15px;
}

.card-container {
    padding: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: white;
    display: block;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: rgb(74, 131, 238);
    cursor: pointer;
}