<div class="card-container">
    <div fxLayout="row wrap" fxLayoutGap="16px">
        <mat-card class="mat-card-customer mat-elevation-z4">
            <mat-card-title class="mat-card-title">Create Customer/Prospect</mat-card-title>
            <img mat-card-image src="./../assets/img/agreement.jpg">
            <mat-card-subtitle class="mat-card-subtitle">Create customer/prospect</mat-card-subtitle>
            <br>
            <mat-card-actions class="btn btn-primary mat-card-button" (click)="btnCreate()">Create</mat-card-actions>
        </mat-card>
        <mat-card class="mat-card-customer mat-elevation-z4">
            <mat-card-title class="mat-card-title">Search Customer/Prospect</mat-card-title>
            <img mat-card-image src="./../assets/img/view.jpg">
            <mat-card-subtitle class="mat-card-subtitle">Search and view customer(s)/prospect(s) information</mat-card-subtitle>
            <mat-card-actions class="btn btn-primary mat-card-button" (click)="btnSearch()">Search</mat-card-actions>
        </mat-card>
        <mat-card class="mat-card-customer mat-elevation-z4" *ngIf="this.rol == 2">
            <mat-card-title class="mat-card-title">Update Customer/Prospect</mat-card-title>
            <img mat-card-image src="./../assets/img/modify.jpg">
            <mat-card-subtitle class="mat-card-subtitle">Update customer/prospect information</mat-card-subtitle>
            <br>
            <mat-card-actions class="btn btn-primary mat-card-button">Update</mat-card-actions>
        </mat-card>
    </div>
</div>


<!-- <app-list-customer></app-list-customer> -->