<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div id="bgColor" class="card text-black" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4">
              <h2 class="mb-2 text-uppercase">Forgot Password</h2>
              <p class="text-white-50 mb-3">Please enter your user</p>
              <form method="post" class="form-outline form-white mb-2">
                <label class="form-label">User</label>
                <input
                  class="form-control form-control-sm"
                  type="text"
                  name="userName"
                  [(ngModel)]="loginForm.user.val"
                  #user="ngModel"
                />
                <small
                  class="text-light mt-1 px-2 py-1 rounded"
                  *ngIf="!loginForm.user.isValid() && user.touched"
                  >{{ loginForm.user.error }}</small
                >
                <p></p>

                <div>
                  <button
                    type="button"
                    class="btn btn-outline-light btn-sm px-5"
                    (click)="btnBackLogin()"
                  >
                    Back Login
                  </button>

                  <button
                    type="button"
                    class="btn btn-outline-light btn-sm px-5 mx-4"
                    [disabled]="!isValidForm"
                    (click)="btnForgot()"
                  >
                    Send
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


